<?xml version="1.0"?>
<GeneratorParams xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <TargetFramework>Net48</TargetFramework>
  <NameSpace>LERImporter.Schema</NameSpace>
  <Language>CSharp</Language>
  <CommandLine>xsd2code.exe &lt;XSD File&gt; LERImporter.Schema &lt;Output file&gt; /c Array/p Net48 /ap /if- /clean /sc /xa /Indent2Space /hp </CommandLine>
  <CollectionObjectType>Array</CollectionObjectType>
  <Properties>
    <AutomaticProperties>true</AutomaticProperties>
  </Properties>
  <XmlAttribute>
    <Enabled>true</Enabled>
  </XmlAttribute>
  <ClassParams />
  <Miscellaneous>
    <HidePrivateIntelliSense>true</HidePrivateIntelliSense>
    <EnableSummaryComment>true</EnableSummaryComment>
  </Miscellaneous>
  <InitializeFields>None</InitializeFields>
</GeneratorParams>
