<?xml version="1.0"?>
<GeneratorParams xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <TargetFramework>Net48</TargetFramework>
  <NameSpace>LERImporter.Schema</NameSpace>
  <Language>CSharp</Language>
  <CommandLine>xsd2code.exe &lt;XSD File&gt; LERImporter.Schema &lt;Output file&gt; /c Array/p Net48 /dbg /dc /dmxmli /dmnall /ap /if- /clean /s /xml /sc /Indent2Space /hp </CommandLine>
  <CollectionObjectType>Array</CollectionObjectType>
  <Properties>
    <AutomaticProperties>true</AutomaticProperties>
  </Properties>
  <WCFAttribute>
    <Enabled>true</Enabled>
    <MemberName>Always</MemberName>
    <DataMemberAlsoIfXMLIgnoreExists>true</DataMemberAlsoIfXMLIgnoreExists>
  </WCFAttribute>
  <ClassParams />
  <Serialization>
    <Enabled>true</Enabled>
    <SerializeMethodsOn>RootClass</SerializeMethodsOn>
  </Serialization>
  <Miscellaneous>
    <EnableDebug>true</EnableDebug>
    <HidePrivateIntelliSense>true</HidePrivateIntelliSense>
    <EnableSummaryComment>true</EnableSummaryComment>
  </Miscellaneous>
  <InitializeFields>None</InitializeFields>
</GeneratorParams>
