<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="24.0.0" targetFramework="net48" />
  <package id="AutoCAD.NET.Core" version="24.0.0" targetFramework="net48" />
  <package id="AutoCAD.NET.Model" version="24.0.0" targetFramework="net48" />
  <package id="Civil3D2021.Base" version="1.0.0" targetFramework="net48" />
  <package id="morelinq" version="3.3.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>